<blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
        aspernatur magni dolor eos distinctio eaque totam rerum quasi veritatis
        omnis!
      </p>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary icon__line">
            <use xlink:href="sprites/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">John Smith</h3>
          <p class="quote__organization">ABC Company</p>
        </div>
      </div>
</blockquote>