<div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__title">Ready to Get Started?</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
            repellat sapiente quibusdam rerum placeat voluptate dignissimos
            quidem illum fugit sint?
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--strecthed">Get Started</a>
      </div>
    </div>