 <div class="collapsible">
      <div class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="sprites/sprite.svg#chevron"></use>
        </svg>
      </div>

      <div class="collapsible__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque amet
        fugit ea maiores ipsam vero earum ratione architecto totam laborum.
      </div>
    </div>

    <div class="collapsible">
      <div class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="sprites/sprite.svg#chevron"></use>
        </svg>
      </div>

      <div class="collapsible__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque amet
        fugit ea maiores ipsam vero earum ratione architecto totam laborum.
      </div>
    </div>

    <div class="collapsible">
      <div class="collapsible__header">
        <h2 class="collapsible__heading">Products</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="sprites/sprite.svg#chevron"></use>
        </svg>
      </div>

      <div class="collapsible__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque amet
        fugit ea maiores ipsam vero earum ratione architecto totam laborum.
      </div>
    </div>

    <script src="/js/main.js"></script>