<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="sprites/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus
          similique ipsum, animi neque magni nemo fugit quisquam delectus
          ducimus recusandae?
        </p>
      </div>
    </div>
  </body>
</html>
